.click
{
    cursor: pointer;
}

.content
{
    min-height: 200px;
    text-align: center;
    background-color: #24232A;
    color: #55975b;
}

.note-foot
{
    background-color: #1d1b29;
    color: #58e266;
}

.note-body h3
{
    color: #58e266;
}

.modal
{
    color: #182419;
}
